In [1]:
a=[]
a.append('apple')
a.append('ball')
a.append('cat')
a

['apple', 'ball', 'cat']

In [2]:
a=['apple', 'ball', 'cat']
a.append('dog')
a

['apple', 'ball', 'cat', 'dog']

In [4]:
a=list()
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    a.append(x)
print(a)

enter n=3
enter x=apple
enter x=ball
enter x=cat
['apple', 'ball', 'cat']

In [8]:
a=['apple', 'ball', 'cat', 'dog']
a.insert(1,'bulk')
a

['apple', 'bulk', 'ball', 'cat', 'dog']

In [9]:
a=['apple', 'ball', 'cat', 'dog']
b=['fish','goat']
a.extend(b)
a

['apple', 'ball', 'cat', 'dog', 'fish', 'goat']

In [12]:
a=['apple', 'ball', 'cat', 'dog']
a[2]='Anda'
a

['apple', 'ball', 'Anda', 'dog']

In [15]:
a['apple', 'ball', 'cat', 'dog']
a[1]='ball'
a[2]='cat'
a

TypeError: list indices must be integers or slices, not tuple

In [16]:
a=['apple', 'ball', 'cat', 'dog', 'fish', 'goat']
del a[1]
a

['apple', 'cat', 'dog', 'fish', 'goat']

In [17]:
a=['apple', 'ball', 'cat', 'dog', 'fish', 'goat']
del a[0:2]
a

['cat', 'dog', 'fish', 'goat']

In [18]:
a=['apple', 'ball', 'cat', 'dog', 'fish', 'goat']
a.remove('ball')
a

['apple', 'cat', 'dog', 'fish', 'goat']

In [19]:
a=['apple', 'ball', 'cat', 'dog', 'fish', 'goat','apple']
a.remove('apple')
a

['ball', 'cat', 'dog', 'fish', 'goat', 'apple']

In [3]:
a=['apple', 'ball', 'cat', 'dog', 'fish', 'goat','apple']
l=a.count("apple")
l

2

In [2]:
a=['apple', 'ball', 'cat', 'dog', 'fish', 'goat','apple']
l=a.count("apple")
for i in range(2):
    a.remove("apple")
    
a

['ball', 'cat', 'dog', 'fish', 'goat']

In [4]:
a=['ball', 'cat', 'dog', 'fish', 'goat','ball']
a.index('ball')

0

In [10]:
a=['ball', 'cat', 'dog', 'fish', 'goat','ball']
l=len(a)
for i in range(l):
    if a[i] == 'ball':
        print(i)

0
5

In [1]:
a=['ball', 'cat', 'dog', 'fish', 'goat','ball']
b=[]
x=input("enter x=")
y=input("enter y=")
for i in a:
    if i ==x:
        b.append(y)
    else:
        b.append(i)
        
b

enter x=ball
enter y=apple

['apple', 'cat', 'dog', 'fish', 'goat', 'apple']

In [2]:
a=['ball', 'cat', 'dog', 'fish', 'goat','ball']
if "ball" in a:
    print("yes",a.count("ball"))

yes 2

In [ ]:
#wap to search any value inside a list

In [2]:
#list inside list (nested_list)
a=[['ram',45,'kathmandu'],
  ['sam',66,'bhaktapur'],
  ['hari',44,'lalitpur']]

b=[[1,2,3],
  [4,5,6],
  [7,8,9]]

In [1]:
a=[['ram',45,'kathmandu'],
  ['sam',66,'bhaktapur'],
  ['hari',44,'lalitpur']]

b=[[1,2,3],
  [4,5,6],
  [7,8,9]]

In [2]:
a[0]

['ram', 45, 'kathmandu']

In [3]:
a[0][1]

45

In [4]:
a[1][2]

'bhaktapur'

In [5]:
a.append(['sita',22,'bara'])
a

[['ram', 45, 'kathmandu'],
 ['sam', 66, 'bhaktapur'],
 ['hari', 44, 'lalitpur'],
 ['sita', 22, 'bara']]

In [5]:
a.insert(1,['gita',22,'janakpur'])
a

NameError: name 'a' is not defined

In [7]:
for i in a:
    print(i)

['ram', 45, 'kathmandu']
['gita', 22, 'janakpur']
['sam', 66, 'bhaktapur']
['hari', 44, 'lalitpur']
['sita', 22, 'bara']

In [6]:
a=[['ram', 45, 'kathmandu'],
['gita', 22, 'janakpur'],
['sam', 66, 'bhaktapur'],
['hari', 44, 'lalitpur'],
['sita', 22, 'bara']]
search=input("enter name=")
for i in a:
    if search in i:
        print(i)

enter name=ram
['ram', 45, 'kathmandu']

In [7]:
a[0]=['rama',56,'dadaghau']
a

[['rama', 56, 'dadaghau'],
 ['gita', 22, 'janakpur'],
 ['sam', 66, 'bhaktapur'],
 ['hari', 44, 'lalitpur'],
 ['sita', 22, 'bara']]

In [8]:
a[2][0]='ramu'
a

[['rama', 56, 'dadaghau'],
 ['gita', 22, 'janakpur'],
 ['ramu', 66, 'bhaktapur'],
 ['hari', 44, 'lalitpur'],
 ['sita', 22, 'bara']]

In [ ]:
#wap to create a matrix
#r=?
#c=?
#x=?


#wap to remove duplicate data in list inside list