In [1]:
#string

In [2]:
a='hello world'
b="hello world"
c='''hello world'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
# + *

In [5]:
a="hello world\n"
print(a*2)

hello world
hello world

In [7]:
a="hello "
b="world"
c=a+b
print(c)

hello world

In [8]:
a="hello world"
a[0]

'h'

In [10]:
a="hello world"
b=a[0:5]
b

'hello'

In [11]:
a="hello world"
b=a[0:11:2]
b

'hlowrd'

In [5]:
a="hello world"
b=a[100:0:-1]
b

'dlrow olle'

In [13]:
a="hello world"
b=a[::-1]
b

'dlrow olleh'

In [14]:
#string formatting
name="ram"
age=34
date=f"hello my name is {name},I am {age},"
date

'hello my name is ram,I am 34,'

In [17]:
name=input("enter name=")
age=int(input("enter age="))
add=input("enter add=")
data=f"hello i am {name}, I am from {add}, I am {age},"
data

enter name=ram
enter age=25
enter add=ktm

'hello i am ram, I am from ktm, I am 25,'

In [20]:
s=str()
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    bill=f"{name} {price} {quantity} {total}\n"
    s=s+bill
    
    print(s)

enter n=2
enter name=apple
enter price=200
enter quantity=10
apple 200 10 2000

enter name=banana
enter price=300
enter quantity=20
apple 200 10 2000
banana 300 20 6000

In [21]:
s

'apple 200 10 2000\nbanana 300 20 6000\n'

In [22]:
s="ram sita hari daju don ramesh"
for i in s:
    print(i)

r
a
m

s
i
t
a

h
a
r
i

d
a
j
u

d
o
n

r
a
m
e
s
h

In [23]:
s="ram sita hari daju don ramesh"
for i in s:
    print(i,end ="")

ram sita hari daju don ramesh

In [26]:
s="ram sita hari daju don ramesh"
"ram" in s

True

In [29]:
s="ram sita hari daju don ramesh"
if "ram" in s:
    print("yes")
else:
        print("no")

yes

In [30]:
s="ram sita hari daju don ramesh"
search= input("enter s=")
if search in s:
    print("yes")
else:
        print("no")

enter s=ram
yes

In [36]:
s="Ram sita hari daju don ramesh"
search= input("enter s=")
if search in s:
    print("yes")
    print(s.count(search))
else:
        print("no")

enter s=hari
yes
1

In [39]:
s="Ram sita hari daju don ramesh"
print(s.upper())
print(s)

RAM SITA HARI DAJU DON RAMESH
Ram sita hari daju don ramesh

In [38]:
s="Ram sita hari daju don ramesh"
s.lower()

'ram sita hari daju don ramesh'

In [40]:
s="Ram sita hari daju don ramesh"
s.upper()

'RAM SITA HARI DAJU DON RAMESH'

In [1]:
a="ram sita hari daju don ramesh"
b.title()

NameError: name 'b' is not defined

In [6]:
s="Ram sita hari daju don ramesh"
s=s.upper()
print(s)

RAM SITA HARI DAJU DON RAMESH

In [43]:
s="Ram sita hari daju don ramesh".lower()
search= input("enter s=").lower()
if search in s:
    print("yes")
    print(s.count(search))
else:
        print("no")

enter s=ram
yes
2

In [46]:
s="Ram sita hari daju don ramesh".upper()
search= input("enter s=").upper()
if search in s:
    print("yes")
    print(s.count(search))
else:
        print("no")

enter s=ram
yes
2

In [47]:
#replace()
s="Ram sita hari daju don ramesh"
s.replace('hari','HARI')

'Ram sita HARI daju don ramesh'

In [49]:
s="Ram sita hari daju don ramesh"
S=s.replace('hari','BABA')
S

'Ram sita BABA daju don ramesh'

In [50]:
s="Ram sita hari daju don ramesh"
S=s.replace('hari','')
S

'Ram sita  daju don ramesh'

In [52]:
s="Ram sita hari daju don ramesh"
s.split()

['Ram', 'sita', 'hari', 'daju', 'don', 'ramesh']

In [1]:
n=int(input("Enter the no="))
if n>5:
    print("Hello")
else:
    print("world")

Enter the no=5
world