In [ ]:
for loop
#range(5) (0,1,2,3,4)
#range(1,5) (1,2,3,4)
#range(1,5,2) (1,3)
#range(0,5,2) (0,2,4)

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print(i,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [3]:
for i in range(1,4):
    print(i,"hello")

1 hello
2 hello
3 hello

In [4]:
for i in range(1,4,1):
    print(i,"hello")

1 hello
2 hello
3 hello

In [5]:
for i in range(0,4,2):
    print(i,"hello")

0 hello
2 hello

In [8]:
for i in range(5,0,-2):
    print(i,"hello")

5 hello
3 hello
1 hello

In [19]:
n=int(input("enter n="))
for i in range(1,11):
   print(n*i)

enter n=5
5
10
15
20
25
30
35
40
45
50

In [21]:
n=int(input("enter n="))
for i in range(1,11):
   print(n,"*",i,"=",n*i)

enter n=9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [2]:
s=0
n=int(input("enter n ="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
    print(s)

enter n =2
enter x=3
3
enter x=4
7

In [ ]:
s=str()
n=int(input("enter n ="))
for i in range(n):
    x=input("enter x=")
    s=s+" "+x
    print(s)

In [ ]:
s=str()
n=int(input("enter n ="))
for i in range(n):
    x=input("enter x=")
    s=s+x
    print(s)

In [1]:
s=str()
n=int(input("enter n ="))
for i in range(n):
    name=input("enter name=")
    phone=int(input("enter phone="))
    s=s+name+" "+str(phone)+"\n"
    print(s)

enter n =2
enter name=ram
enter phone=9861113277
ram 9861113277

enter name=sam
enter phone=9863332566
ram 9861113277
sam 9863332566

In [2]:
fac=1
n=int(input("enter n="))
for i in range(1,n*1):
   fac=fac*i
   
print(fac)

enter n=50
608281864034267560872252163321295376887552831379210240000000000

In [1]:
fac=1
n=int(input("enter n="))
for i in range(1,n*1):
   fac=fac*i
   print(fac)

enter n=3
1
2

In [ ]:
T=0
s=""
n=int(input("Enter the number of products\n"))
for i in range(n):
        name=input("product \n")
        price=int(input("price \n"))
        quantity=int(input("quantity"))
        total=price*quantity
        T=T+total
        s= s+name+" "+ str(price)+" "+ str(quantity)+" "+str(total)+"\n"
print("\n")
print("NAME PRICE Quantity TOTAL \n")
print(s)
print("The total cost is ", T)

In [6]:
all_total=0
bill=str()
n=int(input("enter n="))
for i in range(n):
    name=input("enter name")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    all_total=all_total+total
    bill=bill+name+"\t"+str(price)+"\t"+str(quantity)+"\t"+str(total)+"\n"
print("\n")
print("NAME PRICE Quantity TOTAL \n")    
print(bill)
print(all_total)

enter n=1
enter nameal3
enter price=2
enter quantity=30


NAME PRICE Quantity TOTAL

al3	2	30	60

60

In [7]:
result=str()
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    physics=int(input("enter physics="))
    chemistry=int(input("enter chemistry="))
    math=int(input("enter math="))
    english=int(input("enter english="))
    nepali=int(input("enter nepali="))
    total=physics+chemistry+math+english+nepali
    per=total/5
    if per >=80:
        grade='a'
    elif per >=60:
        grade='b'
    elif per >=45:
        grade='c'
    else:
        grade='f'
    result=result+name+"\t"+str(physics)+"\t"+str(chemistry)+"\t"+str(math)+"\t"+str(english)+"\t"+str(nepali)+"\t"+str(total)+"\t"+str(per)+"\t"+str(grade)+"\n"
    
    print('name,physics,chemistry,math,english,nepali,total,per,grade')
    print(result)

enter n=1
enter name=biku
enter physics=20
enter chemistry=30
enter math=25
enter english=33
enter nepali=66
name,physics,chemistry,math,english,nepali,total,per,grade
biku	20	30	25	33	66	174	34.8	f