In [1]:
a = 10
b = 10.5
c = "Hello World"
d = True

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [2]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

10 <class 'int'>
10.5 <class 'float'>
Hello World <class 'str'>
True <class 'bool'>

In [1]:
# String
# c = "Hello World"
# c = 'Hello World'
# c = '''Hello World'''

In [1]:
a='10'
print(a)

10

In [7]:
a=60
b=20
c=a*b
print(c)

1200

In [10]:
a=50
b=30
c=a//b
print(c)

1

In [11]:
if 5>2:
    print("five is greater than two")

five is greater than two

In [18]:
math=float(input("enter math="))
nepali=float (input("enter nepali="))
science=float(input("enter science="))

total=math+nepali+science
per=total/3
if per>=90:
    grade='a+'
elif per>=65:
    grade='b'
elif per>=40:
    grade='c'
else:
    grade='f'
    
print("total=",total)
print("per=",per)
print("grade=",grade)

enter math=40
enter nepali=40
enter science=35
total= 115.0
per= 38.333333333333336
grade= f

In [12]:
a=str(input("Enter the name of the person \n"))
b=int(input("enter the age of the person \n"))
if b>18:
    print(b,"is eligible to vote")
else :
    print(b,"is not eligible to vote")

Enter the name of the person
ram
enter the age of the person
60
60 is eligible to vote

In [17]:
a= int(input("Enter the number \n"))
if a%7==0:
    print( a, "is divisible by 7")
else:
    print(a, "is not divisible by 7")

Enter the number
16
16 is not divisible by 7

enter the number
40
enter the number
35
35 is divisible

In [ ]:
a=int(input("enter the number \n"))
if a%7==0:
    if a%5==0:
        print(a,"is divisible by both 7 and 5 ")
    else:
        print(a,"is not divisible by both 7 and 5")

In [3]:
a=int(input("enter the number \n"))
if a%7==0 and a%5==0:
    print(a,"is divisible by both 7 and 5 ")
else:
    print(a,"is not divisible by both 7 and 5")

enter the number
7
7 is not divisible by both 7 and 5

In [7]:
a=int(input("enter the number \n"))
if a%4==0 and a%16==0:
    print(a,"is divisable by both 4 and 16")
else:
    print(a,"is not disiable by both 4 and 16")

enter the number
16
16 is divisable by both 4 and 16

In [15]:
a=range(1,10)
for i in a:
    if 200%i==0 and 100%i==0 and i!=1:
        print(i)

2
4
5

In [7]:
a=int(input("enter a="))
for i in range(1,20):
    print(a,"*",i,"=",a*i)

enter a=3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57

In [2]:
T=0
s=""
n=int(input("Enter the number of products\n"))
for i in range(n):
        name=input("product \n")
        price=int(input("price \n"))
        quantity=int(input("quantity"))
        total=price*quantity
        T=T+total
        s= s+name+" "+ str(price)+" "+ str(quantity)+" "+str(total)+"\n"
print("\n")
print("NAME PRICE Quantity TOTAL \n")
print(s)
print("The total cost is ", T)

Enter the number of products
1
product
niko
price
20
quantity30


NAME PRICE Quantity TOTAL

niko 20 30 600

The total cost is  600

In [25]:
result=str()
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    nepali=int(input("enter nepali="))
    science=int(input("enter science="))
    math=int(input("enter math="))
    total=nepali+science+math
    per=total/3
    if per >=90:
        grade='a'
    elif per >=65:
        grade='b'
    else:
        grade='f'
        result=result+name+"\t"+str(nepali)+str(science)+"\t"+str(math)+"\t"+str(total)+"\t"+str(per)+"\t"+str(grade)+"\n"
                
        print('name,nepali,science,math,total,grade')
        print(result)

enter n=1
enter name=biku
enter nepali=50
enter science=60
enter math=80
name,nepali,science,math,total,grade
biku	5060	80	190	63.333333333333336	f

In [1]:
n=int(input("Enter the number to check for prime or not : "))
if n>1:
    for i in range (2,n):
        if n%i==0:
            print("The number is composite number", n)
            break

    else:
        print("The number is prime number", n)

Enter the number to check for prime or not : 100
The number is composite number 100

In [5]:
n=int(input("enter the number="))
if n>1:
    for i in range (2,n):
        if n%i==0:
            print("composite number", n)
            break
            
    else:
         print("prime number",n)

enter the number=7
prime number 7

In [ ]:
#wap to search any value inside a list

In [2]:
mylist = []
print("Enter 5 elements for the list: ")
for i in range(5):
    val = int(input())
    mylist.append(val)

print("Enter an element to be search: ")
elem = int(input())

for i in range(5):
    if elem == mylist[i]:
        print("\nElement found at Index:", i)
        print("Element found at Position:", i+1)

Enter 5 elements for the list:
5
5
6
5
4
Enter an element to be search:
6

Element found at Index: 2
Element found at Position: 3

In [2]:
import csv
a = ['Pizza',200,4,800]
with open('bill.csv','a') as file:
    x = csv.writer(file)
    x.writerow(a)